<section class="about">
  <h1>About: JUNGLE</h1>
  <div class="about-section">
    <h4>Our Mission:</h4>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus felis augue, finibus ut ex ut, elementum laoreet nulla. Sed mattis diam ut sapien ultrices, sed auctor metus egestas. Cras a dui placerat, eleifend odio non, ultricies arcu. Vestibulum ligula elit, tempor et dolor id, iaculis mollis arcu.
    </p>
  </div>
  <div class="about-section">
    <h4>Our Story:</h4>
    <p>
    Phasellus suscipit blandit ante, sed blandit purus tempus a. Vivamus eleifend vel dui sit amet ullamcorper. Aenean sed elit non magna varius iaculis. Praesent efficitur tempor urna, id consectetur justo pulvinar sit amet. Pellentesque placerat nibh vel mauris maximus lacinia. Maecenas vulputate blandit lacus, laoreet iaculis dolor tempus vitae. Nam lobortis sem non.
    </p>
  </div>
  <div class="about-section">
    <h4>Our Promise:</h4>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor interdum neque, vitae consequat mauris tincidunt non. Nulla enim ipsum, blandit vel aliquet id, volutpat in enim. Nunc placerat ante quis pellentesque malesuada. Curabitur dapibus felis diam, sit amet tincidunt velit lacinia nec. Etiam rhoncus vel elit quis gravida. Donec.
    </p>
  </div>
</section>