.about {
  h1 {
    margin: 1em;
    background-color: green;
    padding: .25em 1em;
    border-radius: 5px;
    width: fit-content;
    color: #fff;
    font-style: italic;
  }
  .about-section {
    margin: 0.75em;
    padding: .5em;
    background-color: rgb(216, 216, 216);
    border-radius: 10px;

    h4 {
      width: fit-content;
      background-color: green;
      padding: .25em 0.5em;
      border-radius: 5px;
      color: #fff;
      font-style: italic;
    }
  }
}