  <div class="row review">
    <div class="col">
      <%= User.find(review.user_id).name %>
    </div>
    <div class="col-6">
      <%= review.description %>
    </div>
    <div class="col">
      <%= review.rating %>/5
    </div>
    <% if current_user && review.user_id == current_user.id %>
      <div class="col">
        <%= link_to "Delete", [@product, review], method: :delete, class: 'btn btn-xs btn-danger' %>
      </div>
    <% end %>
  </div>
